---
import Typography from "@/components/atoms/Typography";
import getCompanyData from "@/hooks/useCompanyData";
import { Image } from "astro:assets";

const { companyData } = await getCompanyData();

//Aca se iteran todas las paginas creadas en el CMS como links para el NavBar
---

<section class="w-full p-5 flex gap-2">
  {companyData?.Logo?.url && (
    <Image
      src={companyData.Logo.url}
      alt={companyData?.Logo?.documentId ? companyData.Logo.documentId : 'Logo'}
      class="w-10 h-10"
      inferSize
  />
  <Typography>{companyData?.CompanyName}</Typography>
  <Typography>{companyData?.CompanyAddress}</Typography>
  <Typography>{companyData?.CompanyEmail}</Typography>
  <Typography>{companyData?.PhoneNumber}</Typography>
  )}
</section>
